{% extends "index/base.html" %}
{% load static %}
{% block content %}
{% include 'HR/HR_base.html'%}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Change Status for Employee Name</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%  url 'HR_home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'EmployeesPage' %}">Employees</a></li>
          <li class="breadcrumb-item"><a href="./employees-profile.html">Employee ID</a></li>
          <li class="breadcrumb-item active">Change Status</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card recent-sales overflow-auto">

            <div class="card-body">
             
              <h5 class="card-title">Change Status For Employee Name</h5>
              <form class="row g-3 needs-validation">
                <!------------------------Start Date---------------------------->

                <div class="col-lg-5 row g-3">
                  <h6 class="title2 ">Select Date:</h6>
                
                  <div class="col-md-3">
                    <label for="yearselect" class="form-label">Year</label>
                    <div class="input-group has-validation">
                      <select class="form-select year" id="yearselect" name="yearselect" aria-label="Floating label select example" required >
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="monthselect" class="form-label">Month</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="monthselect" name="monthselect" aria-label="Floating label select example" required>
                        
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="dayselect" class="form-label">Day</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="dayselect" name="dayselect" aria-label="Floating label select example" required>
                        
                      </select>
                    </div>
                  </div>
                </div><!-----End of Start Date------>


                
                <div class="col-lg-3 row g-3">
                  <h6 class="title2 ">Status:</h6>
                
                  <div class="col-md-6">
                    <label for="status" class="form-label">Status</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="status" name="status" aria-label="Floating label select example" required onclick="checkstatus()">
                        <option value="" selected disabled>Choose</option>
                        <option value="mc">MC</option>
                        <option value="off">Off</option>
                        <option value="halfday">Halfday</option>
                        
                      </select>
                    </div>
                  </div>
                  <div id="timenone" class="col-lg-6">
                    <div class="col-md-12">
                      <label for="timeendnew" class="form-label">End Time:</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="timeendnew" name="timeendnew" aria-label="Floating label select example" required>
                        </select>
                      </div>
                    </div>
                  </div>

                  
                </div><!-----End of End Time------>
                
                <div class="col-lg-6">
                  <br>
                  <br>
                  <a href="./employees-profile.html" class="btn btn-danger">Back</a>
                  <button type="submit" class="btn btn-primary float-end">Update</button>
                </div>

              </form>
              

            </div>

          </div>
            

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



{% block script %}
{% endblock script %}
{% endblock content %}