{% extends "index/base.html" %}
{% load static %}
{% block content %}
{% include 'HR/HR_base.html'%}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Edit Schedule For Employee Name</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./hr-home.html">Home</a></li>
          <li class="breadcrumb-item"><a href="./employees.html">Employees</a></li>
          <li class="breadcrumb-item"><a href="./employees-profile.html">Employee ID</a></li>
          <li class="breadcrumb-item"><a href="./employees-view-schedule.html"> View Schedule</a></li>
          <li class="breadcrumb-item active">Edit Schedule</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card recent-sales overflow-auto">

            <div class="card-body">
             
              <h5 class="card-title">Edit Schedule For Employee Name</h5>
              <form class="row g-3 needs-validation">
                <!------------------------Start Date---------------------------->

                <div class="col-lg-5 row g-3">
                  <h6 class="title2 ">Start Date:</h6>
                
                  <div class="col-md-3">
                    <label for="yearstart" class="form-label">Year</label>
                    <div class="input-group has-validation">
                      <select class="form-select year" id="yearstart" name="yearstart" aria-label="Floating label select example" required onchange="checkdate()">
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="monthstart" class="form-label">Month</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="monthstart" name="monthstart" aria-label="Floating label select example" required onchange="checkdate()">
                        
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="daystart" class="form-label">Day</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="daystart" name="daystart" aria-label="Floating label select example" required onchange="checkdate()">
                        
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>
                </div><!-----End of Start Date------>

                <!------------------------End Date---------------------------->
                <div class="col-lg-5 row g-3">
                  <h6 class="title2 ">End Date:</h6>
                
                  <div class="col-md-3">
                    <label for="yearend" class="form-label">Year</label>
                    <div class="input-group has-validation">
                      <select class="form-select year" id="yearend" name="yearend" aria-label="Floating label select example" required onchange="checkdate()">
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="monthend" class="form-label">Month</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="monthend" name="monthend" aria-label="Floating label select example" required onchange="checkdate()">
                        
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <label for="dayend" class="form-label">Day</label>
                    <div class="input-group has-validation">
                      <select class="form-select" id="dayend" name="dayend" aria-label="Floating label select example" required onchange="checkdate()">
                        
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>
                </div><!-----End of End Date------>


                <div id="javachanged" >
                  <div class="col-lg-12 row g-3">
                    <h6 class="title2 ">Days Working:</h6>
                  
                  

                    <div class="col-md-1" >
                      <label for="mon" class="form-label">Monday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="mon" name="mon" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1" >
                      <label for="tue" class="form-label">Tuesday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="tue" name="tue" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1" >
                      <label for="wed" class="form-label">Wednesday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="wed" name="wed" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1">
                      <label for="thu" class="form-label">Thursday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="thu" name="thu" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1" >
                      <label for="fri" class="form-label">Friday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="fri" name="fri" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1" >
                      <label for="sat" class="form-label">Saturday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="sat" name="sat" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-1" >
                      <label for="sun" class="form-label">Sunday</label>
                      <div class="input-group has-validation">
                        <select class="form-select" id="sun" name="sun" aria-label="Floating label select example" required>
                          <option value="" selected disabled>Choose</option>
                          <option value="working">Working</option>
                          <option value="working">Off</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div><!-----End of Work day------>

                <div class="col-lg-5 row g-3">
                  <h6 class="title2 ">Start Time:</h6>
                
                  <div class="col-md-3">
                    <label for="timestart" class="form-label">Time</label>
                    <div class="input-group has-validation">
                      <select class="form-select year" id="timestart" name="timestart" aria-label="Floating label select example" required>
                      </select>
                      <div class="invalid-feedback">Please select position.</div>
                    </div>
                  </div>

                  
                </div><!-----End of Start time------>

                
                <div class="col-lg-5 row g-3">
                  <h6 class="title2 ">End Time:</h6>
                
                  <div class="col-md-3">
                    <label for="timeend" class="form-label">Time</label>
                    <div class="input-group has-validation">
                      <select class="form-select year" id="timeend" name="timeend" aria-label="Floating label select example" required>
                      </select>
                    </div>
                  </div>

                  
                </div><!-----End of End Time------>
                

                <div class="col-lg-12 text-center">
                  <br>
                  <br>
                  <a href="./employees-view-schedule.html" class="btn btn-danger float-start">Back</a>
                  <a style="margin-left:10px;" href="" class="btn btn-danger float-start">Delete Schedule</a>
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>

              </form>
              

            </div>

          </div>
            

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


{% block script %}
{% endblock script %}
{% endblock content %}
