{% extends "index/base.html" %}
{% load static %}
{% block content %}
{% include 'HR/HR_base.html'%}
  <main id="main" class="main"  onload="loaddata()">

    <div class="pagetitle">
      <h1>Schedule</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%  url 'HR_home' %}">Home</a></li>
          <li class="breadcrumb-item active">Schedule</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              
              <div class="ui container">

                <br/>
                <div class="ui container">
                  <div class="ui grid">
                    <div class="ui sixteen column">
                      <div id="calendar"></div>
                    </div>
                  </div>
                </div>
                
                </div>

            </div>
          </div>

        </div>
      </div>
    </section>
  

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% block script %}

  <!-- Template Main JS File -->

  <script type="text/javascript">
    $(document).ready(function() {

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultDate: moment().format("YYYY-MM-DD"),
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        {%  for i in js_data %}
        events: [
          {
            title: {{ i.Mark }},
            start: {{ i.StartDate }},
              end: {{ i.EndDate }}

          },
        ],

      {% endfor %}
      });

    });
  </script>
{% endblock script %}
{% endblock content %}