{% extends "index/base.html" %}
{% load static %}
{% block content %}
{% include 'HR/HR_base.html'%}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Schedule</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%  url 'HR_home' %}">Home</a></li>
          <li class="breadcrumb-item active">Schedule</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        

        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              
              <div class="ui container">

                <br/>
                <div class="ui container">
                  <div class="ui grid">
                    <div class="ui sixteen column">
                      <div id="calendar"></div>
                    </div>
                  </div>
                </div>
                
                </div>

            </div>
          </div>

        </div>
      </div>
    </section>
  

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% block script %}

  <!-- Template Main JS File -->

  <script>
  {#'{{js_data|escapejs}}'#}

   var json_data = ('{{js_data|escapejs}}');
   var result = JSON.parse(json_data);
   var model = JSON.stringify(result,null,2);

   //alert(model)
  //以上是可以用的代码

  //JSON.parse(json_data, function (key, value) {
   // console.log(`${key}, ${value}`); // 输出当前的属性名，从而得知遍历顺序是从内向外的，
       //最后一个属性名会是个空字符串。
      //返回原始属性值，相当于没有传递 reviver 参数。
//});



   {#$(document).ready(function() {#}
   {##}
   {#   $('#calendar').fullCalendar({#}
   {#     header: {#}
   {#       left: 'prev,next today',#}
   {#       center: 'title',#}
   {#       right: 'month,basicWeek,basicDay'#}
   {#     },#}
   {#     defaultDate: moment().format("YYYY-MM-DD"),#}
   {#     navLinks: true, // can click day/week names to navigate views#}
   {#     editable: false,#}
   {#     eventLimit: true, // allow "more" link when too many events#}
   {#     events: [#}
   {##}
   {#       {#}
   {#         title: 'Long Event',#}
   {#         start: JSON.stringify(result,['fields','StartDate']),#}
   {#         end: d,#}
   {#       },#}
   {#     ]#}
   {#   });#}
   {##}
   {# });#}



  </script>
{% endblock script %}
{% endblock content %}